.facebook{
  .card{
    width: 527px;
    max-width: 100%;
  }
  .facebook-card-media{
    height: 273px;
    border: 1px solid #dadde1;
  }
  .card-facebook__text{
    padding: 10px 12px;
    color: #1d2129;
    border-bottom: 1px solid #dadde1;
    background: #f2f3f5;
    .card-facebook__link{
      color: #606770;
      font-size: 12px;
      line-height: 16px;
      border-collapse: separate;
      direction: ltr;
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      height: 11px;
      line-height: 11px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: left;
      text-overflow: ellipsis;
      text-transform: uppercase;
      user-select: none;
      white-space: nowrap;
      max-width: 100%;
      word-wrap: break-word;
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      -webkit-font-smoothing: antialiased;
      width: 501px;
    }
    .card-facebook__content{
      border-collapse: separate;
      color: #4b4f56;
      direction: ltr;
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      height: 46px;
      line-height: 14.4px;
      max-height: 46px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: left;
      user-select: none;
      word-wrap: break-word;
    }
    .card-facebook__title{
      margin-top: 5px;
      border-collapse: separate;
      color: #1d2129;
      cursor: pointer;
      direction: ltr;
      display: inline;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      height: auto;
      letter-spacing: normal;
      user-select: none;
      white-space: normal;
      width: auto;
      word-wrap: break-word;
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      -webkit-font-smoothing: antialiased;
    }
    .card-facebook__description{
      border-collapse: separate;
      color: #606770;
      direction: ltr;
      display: -webkit-box;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 18px;
      line-height: 20px;
      margin-top: 3px;
      max-height: 80px;
      text-align: left;
      text-overflow: ellipsis;
      user-select: none;
      white-space: normal;
      word-break: break-word;
      word-wrap: break-word;
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      -webkit-box-orient: vertical;
      -webkit-font-smoothing: antialiased;
      -webkit-line-clamp: 1;
    }
  }
}