.meta-group-card__media_block{
  position: relative;
}
.meta-group-card__media{
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #dde5e8;
  border-radius: 8px;
  width: 350px;
}
.meta-group__label-file{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
}
.meta-group__title{
  display: flex;
  margin-bottom: 0.5em;
  font-size: 14px;
  letter-spacing: 0.015em;
  color: #A3B3CA;
  .metadata-title__count{
    position: relative;
    top: 3px;
    margin-left: auto;
    font-size: 11px;
  }
}
.meta-group__chip{
  margin: 1.5px;
}
.metadata__textarea{
  padding: 0.5em 1em;
}
.meta-group-card__media_label{
  display: block;
  text-align: center;
  margin: 5px;
}
.meta-group__pre{
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  font-family: monospace;
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 375ms ease-out;
  background: #EBF1FA;
  overflow-x: auto;
  text-align: left;
  .meta-group__code{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #EBF1FA;
    color: #0048ab;
  }
}
